section.products
  .products-content
    h2.heading Рекомендуемые продукты
    .products-items
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-casco.png"))
        h3.product-card-header Страхование КАСКО
        p.product-card-content Доcтавка за день. Ремонт стёкол, фар и зеркал без справок
        a(href="https://www.tinkoff.ru/insurance/kasko/?internal_source=home_slider_block_button#form").product-card-action-button Рассчитать стоимость
        a(href="https://www.tinkoff.ru/insurance/kasko/?internal_source=home_slider_block").product-card-stretched-link
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-osago.png"))
        h3.product-card-header Страхование ОСАГО
        p.product-card-content Электронный полис со скидками за безаварийнойсть
        a(href="https://www.tinkoff.ru/insurance/osago/?internal_source=home_slider_block_button#form").product-card-action-button Рассчитать стоимость
        a(href="https://www.tinkoff.ru/insurance/osago/?internal_source=home_slider_block").product-card-stretched-link
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-invest.png"))
        h3.product-card-header Инвестиции
        p.product-card-content 
          | Советы по выбору акций 
          br
          | и удобное приложение
        a(href="https://www.tinkoff.ru/invest/?internal_source=home_slider_block_button#form-application").product-card-action-button Стать инвестором
        a(href="https://www.tinkoff.ru/invest/?internal_source=home_slider_block").product-card-stretched-link
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-our-best-cards.png"))
        h3.product-card-header Выбирайте из наших лучших карт
        p.product-card-content Кредитная карта с лимитом или дебетовая с доходом. А может быть обе?
        a(href="https://www.tinkoff.ru/cards/credit-cards/and-debit-cards/2/?internal_source=home_slider_block_button_test").product-card-action-button Оформить карту
        a(href="https://www.tinkoff.ru/cards/credit-cards/and-debit-cards/2/?internal_source=home_slider_block_test").product-card-stretched-link
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-business.png"))
        h3.product-card-header Счёт для бизнеса
        p.product-card-content До 4% на остаток и до 4 месяцев бесплатно. Всё онлайн
        a(href="https://www.tinkoff.ru/business/account/?internal_source=home_slider_block_button#form").product-card-action-button Открыть счёт
        a(href="https://www.tinkoff.ru/business/account/?internal_source=home_slider_block").product-card-stretched-link
      .product-card
        img.product-card-image(src=require("../../../asset/tinkoff-credit.png"))
        h3.product-card-header Кредит наличными
        p.product-card-content До 15 млн рублей на следующий день. От 5.9% годовых
        a(href="https://www.tinkoff.ru/loans/cash-loan/?internal_source=home_slider_block_button#form").product-card-action-button Получить
        a(href="https://www.tinkoff.ru/loans/cash-loan/?internal_source=home_slider_block").product-card-stretched-link